<ion-app>
  <ion-menu side="start">
   
    <ion-header>
      <ion-toolbar>
        <ion-title>My Movie App </ion-title>
        <!-- <ion-img src="src/assets/film-stocks.jpg"></ion-img> -->
      </ion-toolbar>
    </ion-header>

    <ion-content>
        <!-- Any thing could go here. List, paragraph, ..., div -->
      <ion-list>
        <ion-menu-toggle>
          <ion-item line="none" routerLink="/movies">
            <ion-icon name="film" slot="start"></ion-icon>
            <ion-label>Movie Search</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>          
          <ion-item line="none" (click)='onClickDummyButton()' button>
            <ion-icon name="contact" slot="start"></ion-icon>
            <ion-label>Director Search</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>          
            <ion-item line="none" (click)='onClickDummyButton()'>
              <ion-icon name="book" slot="start"></ion-icon>
              <ion-label>Genre</ion-label>
            </ion-item>
          </ion-menu-toggle>
        <ion-menu-toggle>          
          <ion-item line="none" (click)="onLogOut()" button>
            <ion-icon name="exit" slot="end"></ion-icon>
            <ion-label>LogOut</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    
      </ion-content>

  </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
</ion-app>
